/venv
.data/
/data
/__pycache__/
*.pyc
*.log
.DS_Store
.env

/uploaded_files/uploaded_txts/*
/uploaded_files/uploaded_pdfs/*
/uploaded_files/uploaded_docx/*
/uploaded_files/uploaded_mds/*

neo4j
build
dist
models