# =============================================================================
# BrainTrace Backend Requirements 
# Install all packages: pip install -r requirements.txt
# =============================================================================

# torch-cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# web server & API framework
fastapi==0.104.1
uvicorn==0.24.0

# database
neo4j==5.14.1

# LLM & AI processing
openai==1.78.1
transformers>=4.40.0

# vector search
qdrant-client==1.9.0

# audio processing
librosa==0.10.1
torch==2.4.1+cpu

# PDF processing
PyPDF2

# topic extraction form texts
gensim

# language identification
langid>=1.1.6

# Korean text POS taggind / embedding
konlpy
JPype1                   

# English text embedding
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# other essential dependancies
numpy==1.26.4
tqdm
python-dotenv           
python-multipart        
python-docx


# Explicitly listed "transitive dependencies" detected by deptry (DEP003)
pydantic>=2              
requests                 
scikit-learn
